body {
    align-items: center;
    justify-content: space-around;
}

#playerGrid{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 50vh;
    height: 50vh;
}

#enemyGrid{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 50vh;
    height: 50vh;
}

.case{
    border: 1px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 5vh;
    height: 5vh;
}