body {
    align-items: center;
    justify-content: space-around;
    height: 100vh;
}

#playerGrid{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 55vh;
    height: 55vh;
}

#enemyGrid{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 55vh;
    height: 55vh;
}

.box{
    border: 1px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 5vh;
    height: 5vh;
}