* {
    margin: 0;
}

body {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
}

#playerGrid{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 30vh;
    height: 30vh;
}

#enemyGrid{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 30vh;
    height: 30vh;
}

.case{
    border: 1px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 3vh;
    height: 3vh;
}